/*서브타입 1 공통 Class*/

.sub-title-box {
  height: 122px;
}

.sub-title-ty1 {
  font-size: 30px;
  color: #fff;
  float: left;
  margin-top: 95px;
}

.location {
  float: right;
  margin-top: 105px;
}

.location > li {
  float: left;
  color: #fff;
  font-size: 13px;
  margin-left: 24px;
  position: relative;
}

.location > li + li::before {
  content: ">";
  display: block;
  width: 6px;
  height: 12px;
  position: absolute;
  line-height: 12px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  left: -16px;
}

.sub-title-box-ty1 {
  padding-top: 50px;
}
.sub-title-box-ty1 .inner-box {
  border-bottom: 1px solid #666;
}
.sub-title-box-ty1 h3 {
  padding-bottom: 13px;
  width: 130px;
  color: #ffb414;
  font-size: 22px;
  font-weight: 500;
  position: relative;
}
.sub-title-box-ty1 h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffb414;
  position: absolute;
  left: 0;
  bottom: -1px;
}

/*공통 게시판 타입정리*/
.table-ty1 {
  background: #fff;
  border-collapse: collapse;
}

.table-ty1 caption {
  display: none;
}
.table-ty1 th {
  text-align: center;
  font-size: 15px;
  color: #303030;
  height: 45px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.table-ty1 th:last-child {
  border-right: none;
}
.table-ty1 td {
  text-align: center;
  font-size: 16px;
  color: #404040;
  height: 50px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.table-ty1 td:nth-child(2) {
  padding-left: 10px;
  text-align: left;
}

.table-ty1 td:nth-child(2) {
  padding-left: 60px;
  text-align: left;
}
.table-ty1 td:last-child {
  border-right: none;
}

/*서브타입 1 공통 Class*/

/* 편성표 서브 페이지*/
#timetable {
  background-color: #e0e0e0;
  padding-bottom: 165px;
}
#timetable .sub-title-box {
  background: url(../img/remote-control-932273-1920.png) no-repeat center /
    cover;
}

.timetable-day-box {
  padding-top: 94px;
  padding-bottom: 28px;
}
.timetable-day-select {
  width: 250px;
  height: 42px;
  margin: auto;
  line-height: 42px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #353535;
  position: relative;
}
.timetable-day-select a {
  display: block;
  width: 39px;
  height: 39px;
  position: absolute;
  top: 1.5px;
  text-indent: -9999px;
}
.timetable-day-select a.prev {
  left: 0;
  background: url(../img/arrow-prev.png) no-repeat;
}
.timetable-day-select a.next {
  right: 0;
  background: url(../img/arrow-next.png) no-repeat;
}

.day-list-box .day-list li {
  float: left;
}

.day-list-box .day-list li a {
  display: block;
  height: 70px;
  text-align: center;
  font-size: 16px;
  color: #ededed;
  padding-top: 18px;
  box-sizing: border-box;
}

.day-list-box .day-list li:nth-child(2n + 1) {
  width: 171.4285714285714px;
  background-color: #353535;
}
.day-list-box .day-list li:nth-child(2n) {
  width: 171.4285714285714px;
  background-color: #404040;
}

/* 프로그램 파일 */
#program .sub-title-box {
  background: url(../img/program-visual.png) no-repeat center / cover;
}

.program-list-title-box {
  background-color: #e0e0e0;
  padding-top: 69px;
  padding-bottom: 70px;
}

.program-list-title-box ul {
  border-bottom: 1px solid #666;
  padding-bottom: 17px;
}

.program-list-title-box ul > li {
  float: left;
  color: #666;
  font-size: 22px;
  font-weight: 500;
  margin-right: 86px;
}

.program-list-title-box ul > li.on {
  color: #ffb414;
  position: relative;
}

.program-list-title-box ul > li.on::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffb414;
  left: 0;
  bottom: -18px;
}

.program-list-box {
  padding: 42px 0;
}
.program-list > li {
  float: left;
  margin-right: 20px;
  width: 285px;
}
.program-list > li:last-child {
  margin-right: 0;
}
.program-list > li p {
  font-size: 18px;
  font-weight: 500;
  padding-top: 12px;
  text-align: center;
  color: #505050;
}

/**/
.program-info-box {
  background-color: #e0e0e0;
  position: relative;
  padding-top: 80px;
  padding-bottom: 137px;
}

.program-info-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0px;
  height: 0px;
  border: 26px solid #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.pg-info-img {
  float: left;
  width: 285px;
  margin-right: 20px;
}
.pg-info-content {
  float: left;
  width: 895px;
}

.pg-story {
  width: 884px;
}
.pg-info-content h3 {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  color: #333;
}

.pg-info-content .pg-story {
  margin-top: 23px;
}

.pg-info-content .pg-story > p {
  margin-bottom: 21px;
  font-size: 14px;
  color: #333;
  word-break: keep-all;
}

.pg-info-content .pg-story > p:last-of-type {
  margin-bottom: 34px;
}

.pg-casting > ul > li {
  float: left;
  margin-right: 15px;
}

.pg-casting > ul > li:last-child {
  margin-right: 0;
}

.pg-casting .casting-name1 {
  margin-top: 17px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #333;
}

.pg-casting .casting-name2 {
  margin-top: 7px;
  font-size: 12px;
  text-align: center;
  color: #666;
}
