@import url(./reset.css);

/* 공통 기본 모바일기준*/
body {
  font-size: 14px;
}

header {
  text-align: center;
  background-color: rgba(0, 51, 204, 0.5);
  margin-bottom: 3px;
}
header > h1 {
  color: #fff;
  font-size: 24px;
  padding: 3px 0;
}

nav {
  background-color: #36f;
}
.gnb li {
  border-bottom: 1px solid #fff;
  text-align: center;
  line-height: 42px;
  font-size: 18px;
  font-weight: bold;
}
.container {
  width: 80%;
  margin: 14px auto;
}

.container .left-area div {
  height: 130px;
  color: #fff;
  background-color: #cc0;
  padding: 14px;
  margin-bottom: 14px;
}
.container .right-area div {
  border-bottom: 1px solid #930;
  margin-bottom: 14px;
}
.container .right-area div h3 {
  color: #930;
  line-height: 2;
}
.container .right-area div p {
  color: #333;
  line-height: 1.5;
}

footer {
  text-align: center;
}
