div {
  width: 300px;
  height: 300px;
  border: 5px solid #f93;
  margin: 30px;
}

body {
  background-image: url(./image/person.jpg);
  background-attachment: fixed;
}

#box1 {
  background-image: url(./image/burger.jpg);
}

#box2 {
  background-image: url(./image/fortune1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#box3 {
  background: url(./image/fortune3.png) no-repeat center #369;
}

#box4 {
  background: url(./image/daum.png) no-repeat;
  width: 72px;
  height: 47px;
  background-position: 0 -100px;
}

#box5 {
  background: url("./image/daum.png ") no-repeat 0 -145px;
  width: 236px;
  height: 52px;
}
