.Footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  color: #fff;
}

.Footer h2 {
  font-size: 36px;
}

.Footer h3 {
  font-size: 24px;
}
