@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
/* 초기화 */
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
body {
  line-height: 1;
}
.cf::after {
  content: "";
  width: 0;
  height: 0;
  font-size: 0;
  display: block;
  clear: both;
}

/* 초기화 */

.inner-box {
  width: 1200px;
  margin: auto;
}
/* header*/
.header {
  background-color: #fffef2;
  border: solid 1px #404040;
}
.header .header-top {
  padding-top: 65px;
  height: 64px;
}
.header .header-top label {
  display: none;
}
.header .header-top .lang {
  float: left;
  width: 89px;
  height: 25px;
  border: none;
  background-color: #edeee2;
  font-size: 12px;
  color: #858181;
  text-align: center;
  margin-top: 21px;
  margin-right: 350px;
}

.header-top > h1 {
  float: left;
  display: block;
  background: url(../img/logo.png) no-repeat;
  width: 200px;
  height: 64px;
  font-size: 0px;
  margin-right: 170px;
}

.header-top-menu {
  float: left;
}
.header-top-menu > * {
  float: left;
}
.header-top-menu .search-input {
  position: relative;
}

.header-top-menu .search-input > input {
  display: block;
  width: 144px;
  height: 25px;
  border: none;
  background-color: #edeee2; /*배경색*/
  border-radius: 15px; /*테두리 둥글게*/
  margin-top: 8px;
  padding: 13px 15px 7px 15px;
  margin-right: 30px;
}
.header-top-menu .search-input > input:focus {
  outline: none;
}

.header-top-menu .search-input button {
  background: url(../img/search-btn.png) no-repeat;
  display: block;
  position: absolute;
  background-color: transparent;
  border: none;
  width: 34px;
  height: 37px;
  top: 36px;
  right: 14px;
  transform: translate(-50%, -50%);
}
.header-top-menu .menu-img-ty1 {
  margin-top: 14px;
  margin-right: 20px;
}
.header-top-menu .menu-img-ty2 {
  margin-top: 14px;
}

.header-bottom {
  padding-top: 60px;
  padding-bottom: 23px;
}

.header-bottom .header-bottom-ham-img {
  float: left;
  margin-right: 260px;
}
.header-bottom .nav {
  float: left;
}
.header-bottom .nav > li {
  float: left;
  margin-right: 80px;
}
.header-bottom .nav > li > a {
  font-size: 20px;
  color: #404040;
}
.header-bottom .nav > li:first-child > a {
  font-size: 20px;
  font-weight: bold;

  color: #465a4f;
}

/* header*/

/* footer */

.footer {
  background-color: #181818;
}
.footer .inner-box p {
  font-size: 14px;
  text-align: center;
  color: #bebebe;
}
.footer .inner-box p:nth-of-type(1) {
  padding-top: 60px;
  margin-bottom: 12px;
}
.footer .inner-box p:nth-of-type(2) {
  padding-bottom: 64px;
}
/* footer */
