table {
  border-collapse: collapse;
  margin: 30px auto 0;
}
caption {
  display: none;
}
.free-bbs th {
  border-bottom: 2px solid green;
  border-top: 2px solid green;
  height: 50px;
}

.free-bbs tbody tr {
  border-bottom: 1px solid black;
  text-align: center;
  height: 40px;
}
.free-bbs tr td:nth-child(2) {
  text-align: left;
  margin-left: 10px;
}

.nav {
  margin-top: 40px;

  display: flex;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  margin-left: 5px;
}

button {
  display: block;
  width: 50px;
  height: 30px;
  text-align: center;

  background-color: white;
  color: blue;
  border-radius: 4px;
  padding: 5px 10px;
}

.here {
  background-color: black;
  color: white;
}
