@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.header-top {
  height: 80px;
  background-color: #303030;
}

.inner-box {
  width: 1200px;
  margin: auto;
}

.header-top .top-logo {
  float: left;
  padding-top: 17px;
}

.header-top .top-logo a {
  display: block;
  width: 134px;
  height: 46px;
  background: url(../img/logo.png) no-repeat;
  text-indent: 999999px;
}

.utility-box {
  float: right;
}
.utility-box .top-menu {
  float: left;
}
.utility-box .top-menu li {
  float: left;
  margin: 36px 4.5px 0;
  position: relative;
}
.utility-box .top-menu li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  display: block;
  top: 50%;
  right: -4.5px;
  background-color: #e6e6e6;
  transform: translateY(-50%);
}

.utility-box .top-menu li:last-child:after {
  display: none;
}

.utility-box .top-menu li a {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  padding: 0 10px;
}
.utility-box .live-btn {
  float: left;
  display: block;
  width: 194px;
  height: 46px;
  margin-top: 18px;
  border-radius: 23px;
  margin-left: 49.5px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.54px;
  color: #303030;
  background: url(../img/ocn-icon-ty-2.png) no-repeat left 6px top 4px #ffb414;
  padding-left: 64px;
  box-sizing: border-box;
  line-height: 46px;
  text-transform: uppercase;
}

.hearder-bottom {
  background-color: #ffffff;
  height: 50px;
}

.gnb li {
  float: left;
  font-size: 18px;
  font-weight: 500;
  color: #303030;
  margin-right: 40px;
  padding-top: 10px;
}

.gnb li a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.channel-btn {
  float: right;
}

.channel-btn li {
  float: left;
}

.channel-btn li a {
  display: block;
  width: 152px;
  height: 50px;
  background: url(../img/tvn-off.png) no-repeat center #d73333;
  text-indent: -9999999px;
}

.channel-btn li:last-child {
  margin-left: 8px;
}
.channel-btn li:last-child a {
  background-image: url(../img/tving-off.png);
}

.main-banner-box {
  height: 650px;
  position: relative;
}
.main-banner {
  height: 650px;
  background: url(../img/layer-1.png) no-repeat;
}

.today-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 280px;
  background: rgba(0, 0, 0, 0.8);
}
.box-title {
  height: 19px;
  font-size: 20px;
  font-weight: 500;
  color: #d4991a;
  margin-top: 21px;
  padding-bottom: 12px;
  padding-left: 42px;
  background: url(../img/ocn-icon-ty-1.png) no-repeat left top;
  border-bottom: 1px solid #eee;
}

.today-list-time {
  display: block;
  width: 121px;
  height: 25px;
  background-color: #666666;
  border-radius: 12.5px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}
.today-list-img {
  margin-bottom: 16px;
}

.today-list-program {
  display: block;
  margin-bottom: 69px;
  width: 126px;
  height: 15px;
  font-size: 15px;
  color: #fff;
}
.today-box .today-list > li {
  float: left;
  margin-top: 48px;
  padding: 0 80px;
  position: relative;
}
.today-box .today-list > li::after {
  content: "";
  display: block;
  width: 1px;
  height: 170px;
  margin: 32px 94px 0 87px;
  opacity: 0.45;
  background-color: #eee;
  position: absolute;
  top: 0;
  right: -80px;
  transform: translateY(-25%);
}
.today-box .today-list > li:last-child::after {
  display: none;
}
